<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <style type="text/css">

        body {
  padding-top: 56px;
}

    </style>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0"></script>

</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">Djangeek</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
<!--              <li class="nav-item active">-->
<!--                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>-->
<!--              </li>-->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'django-post-list' q='django'%}">Django</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'python-post-list' q='python'%}">Python</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'excel-post-list' q='excel'%}">Microsoft Excel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'howto-post-list' q='howto'%}">How To</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact-page'%}">Contact Us</a>
              </li>
        </ul>
          <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                                  <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search-post-list' %}">
              {% if 'q' in request.GET %}
              {% with q=request.GET.q %}
              <input class="form-control mr-sm-2" name="q" type="search" value="{{q}}" aria-label="Search">
              {% endwith %}
              {% else %}
              <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search in all categories" aria-label="Search">
              {% endif %}
              <button style="background-color:grey;" class="btn my-2 my-sm-0" type="submit"><span style="color: white;">Search</span></button>
            </form>
        </li>
              </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">Business Name or Tagline</h1>
        <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
        <a class="btn btn-primary" href="#">Call to Action!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        {% for post in django_posts %}
      <div class="col-md-6 mb-5">
        <div class="card h-100">
                        <!--Card image-->
            <div class="view overlay">
              <a href="{% url 'post-detail' pk=post.id %}">

              <img class="card-img-top" src="{{post.index_image}}"alt="Card image cap">

                <!-- <div class="mask rgba-white-slight"></div> -->
              </a>
            </div>
          <div class="card-body">

            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
        {% endfor %}
        {% for post in excel_posts %}
      <div class="col-md-4 mb-5">
        <div class="card h-100">
                        <!--Card image-->
            <div class="view overlay">
              <a href="{% url 'post-detail' pk=post.id %}">

              <img class="card-img-top" src="{{post.index_image}}"alt="Card image cap">

                <!-- <div class="mask rgba-white-slight"></div> -->
              </a>
            </div>
          <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
        {% endfor %}
        {% for post in posts %}
      <div class="col-md-12 mb-5">
        <div class="card h-100">
                        <!--Card image-->
            <div class="view overlay">
              <a href="{% url 'post-detail' pk=post.id %}">

              <img class="card-img-top" src="{{post.index_image}}"alt="Card image cap">

                <!-- <div class="mask rgba-white-slight"></div> -->
              </a>
            </div>
          <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
        {% endfor %}

    </div>
    <!-- /.row -->

          <!-- creator detail -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://drive.google.com/uc?export=view&id=1pBOyPHTAXZUv4JIhOarnSzCqYKc9zLzu" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">/iamjatinagrawal</h1>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->


  </div>
  <!-- /.container -->


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; iamjatinagrawal 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>